<header class="topbar">

  <div class="mobile-brand">
        <div class="brand-mark">E</div>
    <!-- <strong>ExecTrack</strong> -->
  </div>

  <div class="topbar-actions">

    <a
      routerLink="/notifications"
      class="notification-button"
      aria-label="Notifications"
    >
      🔔

      @if (unreadNotificationCount() > 0) {
        <span class="notification-badge">
          {{ unreadNotificationCount() > 99 ? '99+' : unreadNotificationCount() }}
        </span>
      }
    </a>

    @if (authService.currentUser(); as user) {
      <div class="profile-menu">
        <button
          class="avatar-button"
          type="button"
          aria-label="Open profile menu"
          [attr.aria-expanded]="profileOpen"
          (click)="profileOpen = !profileOpen"
        >
          <span class="avatar">{{ authService.getInitials(user) }}</span>
        </button>

        @if (profileOpen) {
          <div class="profile-dropdown">
            <strong>{{user.title}} {{ user.firstName }} {{user.middleName}} {{ user.lastName }}</strong>
            <span>{{ user.role }}</span>
            <button
              class="logout-button"
              type="button"
              (click)="logout()"
            >
              Logout
            </button>
          </div>
        }
      </div>
    }

    <button
      class="mobile-menu-button"
      type="button"
      aria-label="Toggle navigation"
      aria-controls="main-navigation"
      [attr.aria-expanded]="mobileSidebarOpen"
      (click)="toggleMobileSidebar.emit()"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>

</header>